*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(238, 204, 238);

}
.title{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}
.title h1{
   margin-bottom: 40;
}
.card{
    /*border: 3px;*/
    background-color: rgb(120, 61, 175);
    color: white;
    border-radius: 15px;
    padding: 50px;
    line-height: 25px;
}
.list{
    list-style: none;
    padding: 5px;
    
}
.text-b{
    border-left: 3px solid gold;
    padding-left: 10px;
    color: orange;
    margin-left: -5x;
}
.text-n{
    padding-left: 12px;
}
#download{
    background-color: gold;
    font-size: 20;
    padding: 5px;
}
#download:hover{
    background-color: black;
    color: white;
}
#download a{
    text-decoration: none;
}